* {
    padding: 0;
    margin: 0;
    line-height: 1;
}

body {
    background-color: #f3f5f7;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
    height: 100px;
}

header>img {
    float: left;
    margin-top: 30px;
}

header ul {
    float: left;
}

header ul li {
    float: left;
    margin-top: 30px;
    line-height: 40px;
    text-align: center;
    padding: 0 20px;
    margin-right: 5px;
}

header ul li:first-child {
    margin-left: 70px;
}

header ul li a {
    font-size: 18px;
    color: #050505;
}

header ul li:hover {
    border-bottom: 2px solid #00a4ff;
}

.searcharea {
    position: absolute;
    top: 30px;
    left: 685px;
    height: 42px;
    width: 415px;
}

.searcharea .search {
    float: left;
    width: 360px;
    height: 40px;
    outline: none;
    border: 2px solid #00a4ff;
    border-right: transparent;
    text-indent: 18px;
}

.searcharea .button {
    float: left;
    width: 55px;
    height: 42px;
    outline: none;
    border: transparent;
    background: url(../images/fa-search.png) no-repeat;
}

header p {
    float: right;
    margin-top: 43px;
    margin-right: 10px;
}

header p a {
    font-size: 14px;
    color: #666666;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.bannercenter {
    height: 420px;
    background: url(../images/banner2.png);
}

.bannercenter ul {
    height: 420px;
    width: 192px;
    text-indent: 24px;
    background-color: #13014b;
}

.bannercenter ul li {
    position: relative;
}

.bannercenter li:first-child {
    padding-top: 15px;
}

.bannercenter ul li a {
    font-size: 14px;
    color: #ffffff;
    line-height: 44px;
}

.bannercenter ul li::after {
    position: absolute;
    right: 16px;
    line-height: 44px;
    content: '＞';
    display: inline;
    color: #ffffff;
}

.bannercenter ul li:hover>a,
.bannercenter ul li:hover::after {
    color: #00a4ff;
}

.jingpintuijian {
    margin-top: 10px;
    height: 60px;
    background-color: #ffffff;
}

.jingpintuijian ul li {
    float: left;
    padding: 19px 33px;
}

.jingpintuijian ul li:nth-child(even) {
    padding: 19px 0;
    color: #bfbfbf;
}

.jingpintuijian ul li a {
    font-size: 16px;
    color: #050505;
}

.jingpintuijian ul li:first-child>a {
    color: #00a4ff;
}

.jingpintuijian p {
    float: right;
    padding-right: 60px;
    line-height: 60px;
    font-size: 14px;
}

.jingpintuijian p a {
    color: #00a4ff;
}

.jingpin {
    padding-top: 40px;
    height: 40px;
    line-height: 40px;
}

.jingpin span:first-child {
    float: left;
    color: #494949;
    font-size: 20px;
}

.jingpin span:last-child {
    float: right;
}

.jingpin span:last-child>a {
    font-size: 12px;
    color: #a5a5a5;
}

.jingpinqu {
    height: 555px;
}

.jingpinqu li {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    height: 270px;
    width: 230px;
    background-color: #fff;
}

.jingpinqu li:nth-child(5n) {
    margin-right: 0;
}

.jingpinqu li:nth-child(n+6) {
    margin-top: 15px;
}

.pone {
    padding: 26px 19px 21px 16px;
    color: #050505;
    font-size: 14px;
    line-height: 1.2em;
}

.ptwo {
    position: absolute;
    left: 16px;
    bottom: 24px;
    font-size: 14px;
    color: #bfbfbf;
}

.ptwo span {
    color: #ff7c2d;
}

.web {
    padding-top: 40px;
    height: 40px;
    line-height: 40px;
}

.web span:first-child {
    float: left;
    color: #494949;
    font-size: 20px;
}

.web span:last-child {
    float: right;
}

.web span:last-child>a {
    font-size: 12px;
    color: #a5a5a5;
}

.web ul {
    margin-left: 400px;
}

.web ul li {
    float: left;
    font-size: 16px;
    padding: 0 30px;
}

.web ul li a {
    color: #868686;
}

.web ul li:first-child>a {
    color: #00a4ff;
}

.webtuijian {
    height: 270px;
}

.webtuijian li {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    height: 270px;
    width: 230px;
    background-color: #fff;
}

.webtuijian li:last-child {
    margin-right: 0;
}

.niurentuijian {
    padding-top: 40px;
    height: 70px;
    line-height: 40px;
}

.niurentuijian span {
    color: #494949;
    font-size: 20px;
}

.niuren {
    height: 320px;
    margin-bottom: 73px;
}

.biyeji {
    float: left;
    width: 472px;
    height: 320px;
    background: url(../images/图层149.png) no-repeat;
}

.biyeji p {
    text-indent: 26px;
}

.biyeji p:first-child {
    padding-top: 98px;
    font-size: 30px;
    color: #f9e103;
}

.biyeji p:nth-child(2) {
    font-size: 27.2px;
    color: #ffffff;
    line-height: 1.6em;
    margin-bottom: 13px;
}

.biyeji p:last-child {
    margin-left: 26px;
    display: inline;
    padding: 7px 14px;
    font-size: 13.24px;
    border: 2px solid #f9e103;
    ;
}

.biyeji p:last-child>a {
    color: #f9e103;
}

.niuren ul {
    float: left;
}

.niuren li {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 230px;
    height: 320px;
}

.niuren li:first-child {
    background: url(../images/20172124182104355.png);
}

.niuren li:nth-child(2) {
    background: url(../images/20154025104058710.png);
}

.niuren li:last-child {
    background: url(../images/20154325104317144\(1\).png);
}

.niuren li div {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 230px;
    background-color: rgba(0, 0, 0, .4);
}

.niuren li div p {
    text-indent: 23px;
    color: #fff;
}

.niuren li div p:first-child {
    padding-top: 23px;
    padding-bottom: 14px;
}

.name {
    font-size: 18px;
}

.job {
    font-size: 14px;
}

.niuren li div p:last-child {
    padding: 0 23px;
    font-size: 12px;
    line-height: 1.6em;
}

.footer {
    height: 420px;
    background-color: #fff;
}

.left {
    float: left;
    height: 420px;
    width: 470px;
}

.left p {
    text-indent: 20px;
}

.footone {
    padding-top: 125px;
    font-size: 36px;
    color: #00a4ff;
}

.foottwo {
    height: 80px;
    line-height: 80px;
    font-size: 12px;
    color: #666666;
}

.footthree {
    font-size: 16px;
    margin-left: 15px;
    text-indent: 40px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
}

.guide {
    float: left;
    height: 420px;
    width: 730px;
}

.guide dl {
    padding-top: 130px;
    float: left;
    margin-right: 120px;
    color: #666666;
}

.guide dl:first-child {
    margin-left: 120px;
}

.guide dl:last-child {
    margin-right: 0;
}

.guide dt {
    font-size: 16px;
    line-height: 33px;
}

.guide dd {
    font-size: 12px;
    line-height: 20px;
}